{% extends 'blog/base.html' %}

{% block head_title %}
    {{ post.title }} - Blog
{% endblock %}
{% block main_area %}
    <h1>Blog</h1>
    {% for p in post_list %}
        <!-- Blog Post -->
        <div class="card mb-4">
            <img class="card-img-top" src="./x.jpg" alt="Card image cap">
            {#                    <img class="card-img-top" src="http://placehold.it/750x300" alt="Card image cap">#}
            <div class="card-body">
                <h2 class="card-title">{{ p.title}}</h2>
                <p class="card-text">{{ p.content }}</p>
                {% if p.tags.exists %}
                    <i class="fas fa-tags"></i>
                    {% for tag in p.tags.iterator %}
                        <a href="{{ tag.get_absolute_url }}"><span calss="badge badge-pill badge-light">{{ tag }}</span></a>
                    {%  endfor %}
                    <br /><br />
                {% endif %}
                <a href="{{ p.get_absolute_url }}" class="btn btn-primary">Read More &rarr;</a>
            </div>
            <div class="card-footer text-muted">
                Posted on {{ p.created_at}} by
                <a href="#">{{ p.author }}</a>
            </div>
        </div>
    {% endfor %}
{% endblock %}